/* 照片墙 */
.photo-wall-p {
  display: flex;
  flex-direction: column;
  width: 25%;
  float: left;
}
.photo-wall-p::after {
  content: "clear";
  color: transparent;
  clear: both;
}
@media (max-width: 768px) {
  .photo-wall-p {
    width: 50%;
  }
}
/* 引用标签 */
blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
blockquote > p {
  margin: 0 !important;
}
/* 列表 */
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
