.time-line {
  position: relative;
  overflow: hidden;
}
.time-line::before {
  content: " ";
  position: absolute;
  top: 70%;
  right: 100%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #cacaca;
}
.time-line::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 150%;
  height: 2px;
  background: linear-gradient(90deg, #cacaca, #fff);
}
