/* bootstrap与tailwind样式有部分冲突 */
.tw-container {
  width: 100%;
}
@media (min-width: 640px) {
  .tw-container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .tw-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px;
  }
}
