@tailwind base;
@tailwind components;
@tailwind utilities;

#root-container {
  min-height: calc(100vh - 70px) !important;
  display: flex;
  justify-content: center;
}

/* loading */
@keyframes lalala {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(2);
  }
}
.custom-content-marker {
  position: relative;
  width: 25px;
  height: 34px;
}
.custom-content-marker-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: lalala 1s infinite;
}
.custom-content-marker img {
  width: 100%;
  height: 100%;
}
