.m3u8-get .m-p-cross {
  display: none !important;
}
.m3u8-get .m-p-final {
  display: none !important;
}
.m3u8-get .m-p-force {
  display: none !important;
}
.m3u8-get .m-p-temp-url {
  display: none !important;
}
.m3u8-get .m-p-github {
  display: none !important;
}
.m3u8-get .m-p-input-container {
  flex-direction: column;
}
.m3u8-get .m-p-input-container > div:nth-child(3) {
  display: none;
}
